doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title JS Height Fix with Angular

    block styles

    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js")
    block scripts

  block content
  


